{% extends "layout.html" %}

{% block title %}
    ADD Tasks
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group" title="Task">
            <input autocomplete="off" autofocus class="form-control" name="task" placeholder="Task" type="text" size="38">
        </div>
        <div class="form-group">
            <input class="form-control" name="date_to" title="Date to complete task" type="date">
            <input class="form-control" name="time_to" title="Time to complete task" type="time">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
