{% extends "layout.html" %}

{% block title %}
    Delete Task
{% endblock %}

{% block main %}
    {%if (rows|length) > 0%}
        <form action="/delete" method="post">
            <div class="form-group">
                <select class="form-control" name="task" title="select task to delete">
                    <option disabled selected value="">Task</option>
                    {% for row in rows %}
                        <option value="{{row['task']}}">{{row['task']}}</option>
                    {%endfor%}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    {%else%}
        <p>No task to delete!!!</p>
    {%endif%}
{% endblock %}
